<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.tradingRecode.TradingRecodeMapper">

    <insert id="insertRecode" parameterType="pojo.TradingRecode">
        insert into tradingRecode (userPhone, tradingRecodeTime, tradingRecodeMoney, tradingRecodeComment, typeId, statusId, wayId) values (
            #{userPhone},now(),#{tradingRecodeMoney},#{tradingRecodeComment},#{typeId},#{statusId},#{wayId}
        );
    </insert>

    <select id="selectByPhone" resultType="pojo.TradingRecode">
        select * from tradingRecode where userPhone = #{phone} order by tradingRecodeTime desc limit #{page} , 20;
    </select>

    <select id="selectCountByPhone" resultType="int">
        select count(0) from tradingRecode where userPhone = #{phone};
    </select>

    <select id="selectAllByPhone" resultType="customPojo.TradingRecodeByThree">
            SELECT
            r.tradingRecodeId,
            r.userPhone ,
            r.tradingRecodeTime,
            r.tradingRecodeComment,
            r.tradingRecodeMoney,
            s.transactionStatusName,
            s.transactionStatusId,
            t.transactionTypeName,
            w.transactionWayName
            FROM tradingRecode r
            inner join
            transactionStatus s
            on r.statusId = s.transactionStatusId
            inner join transactionType t
            on r.typeId = t.transactionTypeId
            inner join transactionWay w
            on r.wayId = w.transactionWayId
            where r.userPhone = #{phone}
            ORDER BY r.tradingRecodeTime desc
            limit #{page} , 20
    </select>
</mapper>