<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.token.TokenMapper">

    <select id="selectToken" resultType="pojo.Token">
        select * from `token` ;
    </select>

    <update id="updateToken">
        update token set accessToken = #{token};
    </update>
</mapper>